<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header>
    <h1>Songr</h1>
</header>
<main>
    <form action="/" method="post">
        <fieldset>
            <legend>Add Album</legend>
            <label for="artist"> Artist Name:</label>
            <input type="text" name="artist">
            <label for="title"> Album Title:</label>
            <input type="text" name="title">
            <label for="songCount"> Song Count:</label>
            <input type="text" name="songCount">
            <label for="lengthInS"> Album Length in Seconds:</label>
            <input type="text" name="lengthInS">
            <label for="imageURL"> Image Url:</label>
            <input type="text" name="imageURL">
            <input type="submit" value="Add">
        </fieldset>
    </form>

    <ul th:each="album : ${albums}">
        <li th:text="${album.artist}">ARTIST NAME</li>
        <li><a th:href="'/displayAlbum/' + ${album.title}"><img th:src="${album.imageUrl}"  alt="Image Of Album"></a></li>
        <li th:text="${album.title}">ALBUM NAME</li>
        <li th:text="${album.songCount}">SONG COUNT</li>
        <div>SONGS:</div>
        <ul th:each="song : ${album.songsInThisAlbum}">
            <li class="song-title" th:text="'Song Title: ' + ${song.title}"></li>
            <li th:text="'Track number: ' + ${song.trackNumber}"></li>
            <li th:text="'Length: ' + ${song.length}"></li>
        </ul>
        <li th:text="${album.lengthInS}">LENGTH</li>
        <form action="/add-song" method="post">
            <fieldset>
                <legend>Add Song To Album</legend>
                <label for="artist"> Song Name:</label>
                <input type="text" name="title">
                <label for="length"> Length:</label>
                <input type="text" name="length">
                <label for="songCount"> Track Number:</label>
                <input type="text" name="trackNumber">
                <input type="hidden" name="album" th:value="${album.title}">
                <input type="submit" value="Add">
            </fieldset>
        </form>
    </ul>
</main>
<footer>

</footer>
</body>
</html>