<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <head>
        <h1 th:text="${album.title}"></h1>
        <h1 th:text="${album.artist}"></h1>
    </head>
    <main>
        <img th:src="${album.imageUrl}"  alt="Image Of Album">
        <p th:text="${album.songCount}"></p>
        <p th:text="${album.lengthInS}"></p>
        <h3>Songs</h3>
        <ul th:each="song : ${album.songsInThisAlbum}">
            <li class="song-title" th:text="'Song Title: ' + ${song.title}"></li>
            <li th:text="'Track number: ' + ${song.trackNumber}"></li>
            <li th:text="'Length: ' + ${song.length}"></li>
        </ul>
    </main>
    <footer>
    </footer>
</body>
</html>